<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <h1>로그인</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label th:for="id">ID</label>
                <!--<input type="text" th:field="*{name}" class="form-control" placeholder="아이디">-->
                <input type="text"  class="form-control" placeholder="아이디">
            </div>

            <div class="form-group">
                <label th:for="password">상품명</label>
                <!--<input type="text" th:field="*{password}" class="form-control" placeholder="비밀번호">-->
                <input type="text" class="form-control" placeholder="비밀번호">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/signup">회원가입</a>
        <a href="/forgot-password">비밀번호 찾기</a>


    </div>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>